/* Article (Component) */
.league {
	background: #fff;
	margin: 0 0 20px;
	padding: 20px;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.league:hover {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.2);
}

.league:active {
	box-shadow: none;
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: scale(0.98);
	transform: scale(0.98);
}

.leagueHeaderText {
	margin: 0 0 10px;
	color: #444;
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.75rem;
}

.leagueText {
	color: #666;
	line-height: 1.5rem;
	font-size: 0.875rem;
}
